name: Deploy GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  deploy_pages:
    name: Deploy GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - name: Setup java
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: actions/checkout@v2
    - name: Generate javadoc
      run: ./mvnw -B javadoc:aggregate -pl '!ICGE-build-tools,!ICGE-ManualStart'
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.7.0-4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/site/apidocs/
        destination_dir: ./apidocs
